{% extends "base.html" %}


{% block content %}


<div class='row my-5'>
    <div class='col-12'>
        <h1>Sales Data</h1>
    </div>
</div>

<hr/>

<div class='row my-5'>
    <div class='col-4'>
        <h3>Today's sales</h3>
        <hr/>
        <p>Recent Total: ${{ today.recent_data.total__sum }}</p>
        <ul>
        {% for order in today.recent|slice:":5" %}
            <li class='my-3'>Order #{{ order.order_id }}<br/>
            ${{ order.total }}<br/>
            {{ order.updated|timesince }} ago</li>
        {% endfor %}
    </ul>
   
    <h3>This week's sales</h3>
    <hr/>
        <p>Recent Total: ${{ this_week.recent_data.total__sum }}</p>
        <ul>
        {% for order in this_week.recent|slice:":5" %}
            <li class='my-3'>Order #{{ order.order_id }}<br/>
            ${{ order.total }}<br/>
            {{ order.updated|timesince }} ago</li>
        {% endfor %}
    </ul>
    </div>

    <div class='col'>
       <canvas class='cfe-render-chart' id="thisWeekSales" data-type='week' width="400" height="400"></canvas>
    </div>
</div>



<hr/>

<div class='row my-5'>
    <div class='col-12'>
        <h1>Previous 4 weeks</h1>
    </div>
    <div class='col'>
        <p>Orders Total: ${{ last_four_weeks.recent_data.total__sum }}</p>
        <p>Shipped Total: {% if last_four_weeks.shipped_data.total__sum %}${{ last_four_weeks.shipped_data.total__sum }} {% endif %}</p>
        <p>Paid Totals: ${{ last_four_weeks.paid_data.total__sum }}</p>

    </div>
     <div class='col'>
       <canvas class='cfe-render-chart' id="fourWeekSales" data-type='4weeks' width="400" height="400"></canvas>
    </div>
</div>





{% endblock %}