{% extends "base.html" %}


{% block content %}
<div class='text-center'>
          <h1>{{ title }}</h1>
          <h1>Hello, world we're working!</h1>
      </div>
      <div class='container'>
      <div class='row'>
        <div class='col'>
            <p>{{ content }}</p>
            <div class='col-sm-6 col-12'>
            <form method='POST'> {% csrf_token %}
              {{ form.as_p }}
              <button type='submit' class='btn btn-default'>Submit</button>
            </form>


            <!-- <form method='POST'> {% csrf_token %}
              <input type='text' class='form-control' placeholder="Name" name='fullname'>
              <input type='email' class='form-control' placeholder="Email" name='email'>
              <textarea name='content' class='form-control' placeholder="Your content"></textarea>
              <button type='submit' class='btn btn-default'>Submit</button>
            </form> -->
            </div>
        </div>
      </div>
      </div>
{% endblock %}