{% extends "base.html" %}

{% block content %}
 <div class='row  mb-3'>
            {% if query %}
            <div class='col-12' >
                Results for <b>{{ query }}</b>
                <hr/>
            </div>
            {% else %}

            <div class='col-12 col-md-6 mx-auto py-5'>
                <input class='form-control' type='text' placeholder="Search">

            </div>
            <div class='col-12'>
                <hr>
            </div>
            {% endif %}
</div>


        <div class='row'>



    {% for obj in object_list %}
        <div class='col'>

        {% include 'products/snippets/card.html' with instance=obj %}  
        
        {% if forloop.counter|divisibleby:3 %}
         </div> </div><div class='row'><div class='col-12'><hr/></div>
        {% elif forloop.counter|divisibleby:2 %}
            </div> </div><div class='row'><div class='col-12'><hr/></div>
        {% else %}
         </div>  
        {% endif %}
       
    
    {% endfor %}
</div>
{% endblock %}