boto3==1.4.7
boto==2.48.0
botocore==1.7.32
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url
django-storages
django==1.11.17
docutils==0.14
gitdb2==2.0.3
gitpython==2.1.7
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
olefile==0.44
pillow
pip==21.1
psycopg2-binary
python-dateutil==2.6.1
pytz
requests>=2.20.0
s3transfer==0.1.11
setuptools==36.6.0
six==1.11.0
smmap2==2.0.3
stripe
urllib3>=1.23
wheel==0.30.0
